.header {
  padding: 15px 0;
  background-color: rgb(53, 116, 209);
  nav {
    max-width: 1020px;
    margin: auto;
    display: flex;
    .logo {
      padding-right: 20px;
      a {
        color: gold;
        font-weight: bold;
        text-decoration: none;
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .menu {
      display: flex;
      a {
        text-decoration: none;
        color: white;
      }
      &__item {
        padding: 0 5px;
      }
    }
  }
  .auth {
    flex-grow: 1;
    text-align: right;
    a {
      text-decoration: none;
      color: white;
    }
  }
}
