.authForm {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid gray;

  h3 {
    text-align: center;
  }

  input {
    display: block;
    margin: 15px auto;
    padding: 5px 15px;
  }

  .error {
    color: red;
  }
}
.speedBox div {
  text-align: center;
}
